<!DOCTYPE html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
  
</head>
<body>
  <h1 style="text-align:center">My Expenses</h1>
  <form onsubmit="addExpense(event)" style="text-align:center">
    <label>Choose expenseamount:</label>
    <input type="number" id="amount">
    <br>
    <label>Choose description:</label>
    <input type="text" id="description">
    <br>
    <label>Choose a category:</label>
    <select id="category">
        <option value="fuel">fuel</option>
        <option value="food">food</option>
      </select>
    <br><br>
    <button>Add Expense</button>
    </form>
    <button  id="rzpbutton" onclick="gopremium(event)">Buy Premium</button>
   <div id="expense"></div><br><br><br>
   <a href="./premiumuser.html" ><button>Go to Premium</button></a>
   <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
   <script src="expense.js"></script>
  
</body>

</html>