<!DOCTYPE html>
<head>

</head>
<body>
    <form>
        <label>Enter Name :</label>
        <input type="text" id="n1">
        <br>
        <label>Enter Email :</label>
        <input type="text" id="e2">
        <br>
        <label>Enter Password :</label>
        <input type="text" id="p2">
        <br>
        <button type="button" id="b2">Signup</button>
    </form>
    <br><br><br>
    <a href="http://127.0.0.1:5500/project/expenssetracker/views/index.html">
        <button>Login</button>
     </a>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.2/axios.min.js"></script>
     <script src="script.js"></script>
     
</body>

</html>